@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.about {
  background-color: #e3f2fd;
}
.portofolio {
  background-color: #e3f2fd;
}
.home .home-text {
  --animate-delay: 0.5s;
}
.home .profile {
  --animate-duration: 5s;
}
#button {
  display: inline-block;
  background-color:#dc3545;
  width: 50px;
  height: 50px;
  line-height:60px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  z-index: 1000;
}

#button i{
  font-size:32px;
  color:white;
}



#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button.show {
  opacity: 1;
}

@media (min-width: 320px) and (max-width: 767px) {
  .home .profile {
    margin-top: 1px;
    width: 230px;
  }
    #button {
    margin: 3px;
    width: 25px;
    height: 25px; 
  }
}
